<div class="ui stackable two column centered grid cards">
    <div *ngFor="let article of articles;">
        <div class="ui fluid card">                 
                        <article-card-image [article]="article"></article-card-image>
                        <a [routerLink]="['/article',article._id.toString()]">
                            <div class="content article-metadata">
                                <a class="header"><h4>{{article.Name}}</h4></a>                    
                            </div>
                            <div class="extra content">
                                <div class="article-metadata">
                                    <img class="circular" src="{{article.Creator.userPicture}}">
                                    <span class="author-name">{{article.Creator.name | uppercase}} </span>
                                </div>   
                            </div>

                        </a>
                 
              
        </div>
    </div>
    <div *ngIf="!articles.length">
        No Records Found
    </div>
</div>
