.post-text {
	color: #FFFFFF
}

.power-of-veto {
    background: 
      url(/images/power-of-veto.jpg);
      background-repeat: no-repeat;
      background-size: 100% 100%;
    height: 500px;
    -moz-background-size: 100% 100%;
    -webkit-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    color: #FFF; 
}

.draft-retro {
	background: 
	    url(/images/draft-retro.png);
	    background-repeat: no-repeat;
	    background-size: 100% 100%;
    height: 500px;
    -moz-background-size: 100% 100%;
    -webkit-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    color: #FFF; 
}

.not-so-fast {
  background: 
      url(/images/not-so-fast.png);
      background-repeat: no-repeat;
      background-size: 100% 100%;
    
}

.finals-preview {
  background: 
      url(/images/finals-preview.jpg);
      background-repeat: no-repeat;
      background-size: 100% 100%;
}

.the-day-i-said-what-if {
    background: 
      url(/images/the-day-i-said-what-if.jpg);
      background-repeat: no-repeat;
      background-size: 100% 100%;
}

.rd2-gm7 {
    background: 
      url(/images/rd2-gm7.jpg);
      background-repeat: no-repeat;
      background-size: 100% 100%;
}

.f-clevland {
    background: 
      url(/images/f-clevland.jpg);
      background-repeat: no-repeat;
      background-size: 100% 100%;
}

.list {
  list-style: none outside none;
  margin: 10px 0 30px;
}

.apps-container {
  border: 2px dashed #337AB7;
  margin: 10px 10px 0 0;
  padding: 5px;
  min-height: 300px;
}

.app {
  width: 170px;
  padding: 5px 10px;
  margin: 5px 0;
  border: 2px solid #444;
  border-radius: 5px;
  background-color: #337AB7;
  font-size: 1.1em;
  font-weight: bold;
  text-align: center;
  cursor: move;
}


/***  Extra ***/

body {
  font-family: Verdana, 'Trebuchet ms', Tahoma;
}

.logList {
  margin-top: 20px;
  width: 300px;
  min-height: 300px;
  padding: 5px 15px;
  border: 5px solid #000;
  border-radius: 15px;
}

.logItem {
  margin-bottom: 10px;
}

.logList:before {
  content: 'log';
  padding: 0 5px;
  position: relative;
  top: -1.1em;
  background-color: #FFF;
}

.container {
  width: 800px;
  margin: auto;
}

h2,
h3 {
  text-align: center;
}

.floatleft {
  float: left;
}

.floatright {
  float: right;
}

.clear {
  clear: both;
}

.result-row {
  margin-bottom: 50px;
  border: 2px solid #337AB7;
  padding: 25px;
}

#go-back {
  margin-bottom: 25px;
}