.article-decription {
  text-transform: uppercase;
}

.bannerImage {
  margin-top: 3.5em;
}

.authorName {
  margin-bottom: 0px;
}

.circular {
  width: 100px;
  height: 100px;
  border-radius: 150px;
  -webkit-border-radius: 150px;
  -moz-border-radius: 150px;
  margin-bottom: 0.5em;
}

@media screen and (max-width: 670px) {

  .circular {
    width: 75px;
    height: 75px;
    border-radius: 150px;
    -webkit-border-radius: 150px;
    -moz-border-radius: 150px;
    margin-bottom: 0.5em;
  }

}

.cardillBody {
  background-color: #1e2832;
}

.center-block {
  text-align: center;
  color: white;
}

.post-text {
	color: #FFFFFF
}

.power-of-veto {
    background-image: url(/images/power-of-veto.jpg);
}

.draft-retro {
	 background-image: url(/images/draft-retro.png);
}

.not-so-fast {
    background-image: url(/images/not-so-fast.jpg);
}

.finals-preview {
    background-image: url(/images/finals-preview.png);      
}

.the-day-i-said-what-if {
    background-image: url(/images/the-day-i-said-what-if.png);      
}

.rd2-gm7 {
    background-image: url(/images/rd2-gm7.png);   
}

.f-clevland {
    background-image: url(/images/f-clevland.png);
}

.list {
  list-style: none outside none;
  margin: 10px 0 30px;
}

.draft-box {
  border: 1px solid #337AB7;
  margin: 0px;
  
  
}

.submit-input {
  margin-bottom: 20px;
}

.app {
  width: 170px;
  padding: 5px 10px;
  margin: 5px 0;
  border: 2px solid #444;
  border-radius: 5px;
  background-color: #337AB7;
  font-size: 1.1em;
  font-weight: bold;
  text-align: center;
  cursor: move;
}



.result-row {
  margin-bottom: 50px;
  border: 2px solid #337AB7;
  padding: 25px;
}

#go-back {
  margin-bottom: 25px;
}