<div class="articles view indent">
    <div class="container">
        <div class="ui basic center aligned segment">
            <div class="col-md-10">
                    <filter-textbox class="navbar-right"
                     (changed)="filterChanged($event)"></filter-textbox>
                
            </div>
        </div>

        <div class="ui basic segment">
            <article-cards 
                [articles]="filteredArticles"></article-cards>
        </div>
    </div>

    
</div>
