<div *ngIf="article">
    <div class="ui segment container inverted">

            <header class="jumbotron" [style.background-image]="articleImage">
                <div class="article-header">
                    <h1>{{article.Name}}</h1>
                    
                    <p>{{article.Creator.name}} | Contributor</p>        
                </div> 
            </header>
    </div>

    <div class="article-content ui segment container inverted ">
        <article>
            <div class="ui inverted very padded segment">
                 <div *ngIf="article.Body">
                    <div class="ui inverted segment">                                            
                        <p class="post-text" [innerHTML]="article.Body"></p>                    
                    </div>

                    <div *ngIf="article.Type == 'SoundCloud'">
                       
                        <iframe width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/272651007&amp;color=ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>
                       
                    </div>
                 </div>
            </div>
            
            <div class="ui segment inverted">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                     <sm-rating (onRate)="onReceiveRating($event)" [initialRating]="articleRating" [maxRating]="5"></sm-rating>
                </div>
            </div>

            <div class="ui segment inverted">
                
                
                    <div class="ui centered comments">            
                        <h3 class="ui dividing header">Comments</h3>
                        
                        <div class="comment content" *ngFor="let comment of article.Comments;">
                            <b class="comment-text">{{comment.Name}}</b>
                            <div class="metadata">
                                <span class="date" >{{stringAsDate(comment.Date) | date:'MMM dd, yyyy HH:mm'}}</span>
                            </div>
                            <div class="text">
                                {{comment.Text}}
                            </div>

                        </div>
                        
                         

                        <form (ngSubmit)="onSubmit(f.value)" class="ui reply form">
                            <div class="field">
                                <textarea #f name="first" [(ngModel)]="latestComment"></textarea>
                            </div> 
                            <button type="submit" class="left floated column ui blue labeled submit icon button">                            
                                    <i class="icon edit"></i> Add Reply                        
                            </button>
                        </form>
                        
                                
                    
                </div>
            </div>
        </article>
    </div>
</div>  

<div *ngIf="!article" class="row">
   No article found
</div>  

