<!-- Banner -->
<section id="banner">  
    <img class="bannerImg circular" src="images/jv.png">
    <h2>Finals Preview</h2>
    <p>Jvalant Dave</p>
    <ul class="actions">
        <li><a href="#posts/finals-preview" class="button big special">Read More</a></li>
    </ul>
</section>

<!-- Page Content -->
<div class="container">

    <section id="articles" class="wrapper style1">
        <div class="inner">
            <div ng-repeat="article in articles">
                <div ng-if="$even">
                    <article class="feature left">
                        <span class="image hovereffect">
                            <img  class="img-responsive" ng-src="{{article.imgPath}}" alt="" />
                            <div class="center-block content overlay">
                                <img class="circular img-responsive" style="width:100px;border-radius:150px;" ng-src="{{article.authorImg}}">
                                <h2>{{article.title}}</h2>
                                <p>{{article.author}}</p>
                                <ul class="actions">
                                    <li>
                                        <a href="{{article.link}}" class="button alt">Read More</a>
                                    </li>
                                </ul>
                            </div>
                        </span>
                        <div class="center-block content">
                            <p class="article-description">{{article.description}}</p>
                        </div>
                    </article>  
                </div>
                <div ng-if="$odd">
                    <article class="feature right hovereffect2">
                        <span ng-class="{spanHover: hover}" class="image">
                            <img class="img-responsive" ng-src="{{article.imgPath}}" alt="" />
                            <div class="center-block content overlay">
                                <p>{{article.description}}</p>
                            </div>
                        </span>
                        <div class="center-block content hoverOverlay">
                            <img class="circular" ng-src="{{article.authorImg}}">
                            <h2>{{article.title}}</h2>
                            <p>{{article.author}}</p>
                            <ul class="actions">
                                <li>
                                    <a ng-mouseenter="hover = true" ng-mouseleave="hover = false" href="{{article.link}}" class="button alt">Read More</a>
                                </li>
                            </ul>
                        </div>
                    </article>  
                </div>
            </div>         
        </div>
    </section>

    <section id="about" class="wrapper style3 special">
        <div class="inner">
            <header class="major narrow ">
                <h2>Meet The Team</h2>
                <hr>
                <p>We are a group of people passionate able all things sports</p>
            </header>
            <ul class="actions">
                <li><a href="#" class="button big alt">About Us</a></li>
            </ul>
        </div>
    </section>
    <!-- /.row -->
</div>
