<!-- Post Content -->
<div class="container">

    <header class="jumbotron draft-retro">

    <div class="article-header">
            <h1>Draft Retrospective</h1>
            <p>Vithushan Nama | Contributor</p>        
    </div> 
    </header>

    <p class="post-text">
        Now that the fantasy basketball season is over and the championship is in our rearview, lets take a moment to reflect on the night that started it all. The fantasy basketball draft happened well before the beginning of the regular NBA season. Our league discussed some of the people that were passed over in the first round of our draft, as well some major disappointments. There were a bunch of players that sat out a substantial portion of the season due to injury, these players wouldn't have been drafted as high. On the other side, there were players that not only stayed on the court for a majority of the season, but also outperformed their draft position. Tell us how you think these players would be re-drafted if we knew about their health and performance this season back on draft night. Here are the 12 players that we drafted in the first round this fantasy season, in the order that they were drafted.
    </p>

    </br>
    </br>

    <p>
        <a id="submit" ng-click="submit()" class="btn btn-primary btn-large">Submit</a>
        <a id="see-results" class="btn btn-primary btn-large" href="#/posts/draft-results">See Results</a>
    </p>
    <p class="post-text">
    Re-order the players now that the season is over.
    </p>

    <input class="submit-input" type="text" placeholder="Enter name here" ng-model="submitter">

    <div ng-sortable="{animation:150}" class="row">
        <div class="col-lg-2 col-md-2 col-xs-6 draft-box" ng-repeat="player in roster">        
            <p class="post-text">{{$index + 1}}</p>
            <img class="img-responsive center-block" ng-src="{{player.imgPath}}" alt="">
        </div>
    </div>

</div>