<div class="container">
    <header class="f-clevland jumbotron">

    <div class="article-header">
            <h1>F*** Clevland</h1>
            <p>Lucksson Nama | Contributor</p>        
    </div> 
    </header>


    <!-- Post Content -->
    <article>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            
                    <audio controls>                    
                      
                    </audio>

            </div>
        </div>
    </div>
</article>