<!-- Post Content -->
<div class="container">

    <header class="jumbotron bg finals-preview cs-spacer">
        <div class="container article-header">
                <h1>NBA Finals Preview</h1>
                <p>JV Dave | Contributor</p>        
        </div> 
    </header>

    <article>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            

                <p class="post-text">This is it. This is what it’s come down to. Why did we ever think it would end up differently? OKC Raptors, Spurs Cavs, Warriors Raptors, OKC Cavs, etc. All of that is moot as the prediction for the finals since the beginning of the season was that the Warriors and Cavs would have a rematch for the title of best basketball team in the world. 
                </p>
                
                <p class="post-text">
                But this is so much more than that.  
                </p>

                <p class="post-text">
                From the Warrior’s perspective, they are a team that has been doubted all year because of the fact that it had one of the easiest runs to a championship in recent history. As much as they say that they don’t care about what the naysayers are saying, they have something very important to prove; whether or not they are the greatest single season team in the history of the NBA. Coming of a 73 win season and a comeback down 3-1, a championship is the cherry on top that will seal this team’s spot in history.
                </p>

                <p class="post-text">
                For the Cavaliers, we have a player in Lebron that can be argued as one of the most dominant players in NBA history. Only thing weighing him down is his lack of delivering a championship for his city and his finals record of 2-4. There is also the question of whether they can keep this team together for next year, with salary cap and luxury tax concerns by signing Kevin Love. The time to win is now. 
                </p>

                <p class="post-text">Warriors Offense vs Cavaliers Defense</p>

                <p class="post-text">
                There has been questions regarding whether Kyrie and Love can effectively defend the Golden State Warrior juggernaut offense and there is definitely truth to that as we’ve seen all year. In their regular season matchups, both of them were being annihilated in the Curry – Green pick and roll which forced the Cavs to either collapse on the driving Green who could kick it out to multiple shooting options, or watch helplessly as Curry got whatever he wanted while Love “defended” him. 
                </p>

                <p class="post-text">
                The Cavaliers may have to explore using Lebron or TT on Draymond. Having Lebron on Draymond is less desirable as the man has to do enough on offense as it is. TT might have a shot at guarding those pick and rolls but only time will tell. Cavs just have to pray that Curry isn’t feeling it when does his step back 3’s over big defenders that we saw in game 7 with Steven Adams. 
                </p>

                <p class="post-text">Let’s not forget also that this will be the greatest challenge of Kyrie Irving’s career in guarding the MVP since there is nobody else on the starting lineup that can fill his spot without resulting in a mismatch elsewhere (ie. JR Smith on Curry leaves Kyrie on Klay, Lebron on Curry leaves Kyrie on Iggy/Barnes). 
                </p>

                <p class="post-text">If Love is assigned to Bogut/Ezeli, the Warriors will still run the pick and rolls through them but the Cavs would much rather have them handling the ball then Draymond Green. As always, the team facing the Warriors will have to try and force the Dubs to play big as much as possible to slow down their offense. Expect to see more of Mozgov this series.
                </p>

                <p class="post-text">Cavs Offense vs Warriors Defense</p>

                <p class="post-text">What goes for defense for the Cavs also goes for their offense: play BIG. Kevin Love showed that his post game is still solid by scoring at will on the Toronto Raptors, which not only opened up the shooters on the team but also forces the Warriors to play a big on Love instead of Iggy/Barnes. 
                </p>

                <p class="post-text">The good news for the Cavs is that Irving and Love don’t have to play huge minutes for offensive production. The Cavaliers arsenal of three point shooters rivals that of the Warriors and can really help stretch the Warriors defense, allowing Lebron to have free reign inside the paint. 
                </p>

                <p class="post-text">
                Another advantage that the Cavaliers have this series is their well-crafted second lineup in Delladova, Shumpert, Jefferson, Frye and James. Channing Frye may be the X-factor in this series if he can keep his insanely high effective shooting percentage up (82%) on the likely smaller defender that the Warriors will assign to him. 
                </p>

                <p class="post-text">
                The Cavs also have their own pick and roll that can cause problems: The Lebron-Kyrie pick and roll and the Lebron-JR pick and roll. Curry gets switched onto Lebron and has no shot in that matchup while Kyrie’s quick dribbling and handles can take on whoever was guarding Lebron not named Klay Thompson. Smith needs to ensure that he doesn’t disappear again in this year’s Finals.
                </p>

                <p class="post-text">Final notes</p>

                <p class="post-text">Cavs have one factor that Warriors don’t and his name is Lebron. 6 straight finals are no joke and this man is known to impose his will (as we saw last year). If he can kick his gear up to another level that we have yet to see this season (but know he has), then the warriors are in for a rude awakening.
                </p>

                <p class="post-text">
                Warriors looked mortal for a second there in the western conference finals because they weren’t playing like themselves, in addition to the OKC defense being stifling. Now the warriors face a worse defense, and are coming off a historic comeback where they rediscovered their old ways. If they stick to their formula, it’s difficult to see Cavaliers coming out victorious.
                </p>

                <p class="post-text">Warriors in 6.</p>

            </div>
        </div>
    </article>

</div>
